<form>
  {{view Ember.TextField valueBinding="nominate_value"}}
  <br >

  {{#each variant in variants }}
    <a href='#' {{action 'nominate'variant }} > {{ variant.name }} </a>
    <br>
  {{/each}}


</form>
